<table class="table table-sm">
  <thead>
    <th>ID</th>
    <th>Account ID</th>
    <th>Namespace</th>
    <th>Typename</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let model of models">
      <td>{{model.id}}</td>
      <td>{{model.accountId}}</td>
      <td>{{model.namespace}}</td>
      <td>{{model.typeName}}</td>
      <td><button routerLink="{{model.id}}" class="btn btn-primary btn-sm">Edit</button></td>
    </tr>
  </tbody>
</table>
<button class="btn btn-sm btn-primary" routerLink="/models/add">Add New Model</button>