<div class="rounded box-shadow p-3">
    <h2 class="pb-2 mb-0">Models</h2>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>ID</th>
          <th>Account ID</th>
          <th>Namespace</th>
          <th>Typename</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let model of models">
          <td>{{model.id}}</td>
          <td>{{model.accountId}}</td>
          <td>{{model.namespace}}</td>
          <td>{{model.typeName}}</td>
          <td>
            <button routerLink="{{model.id}}" class="btn btn-primary btn-sm">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-sm btn-primary" routerLink="/models/add">Add New Model</button>
  </div>
