<h1>{{ title }}</h1>

<router-outlet></router-outlet>

<div class="col-md-12">
<kendo-grid
          [data]="view | async"
          [loading]="view.loading"
          [pageSize]="state.take"
          [skip]="state.skip"
          [sort]="state.sort"
          [sortable]="{
            allowUnsort: true,
            mode:  'multiple' 
          }"
          [pageable]="true"
          [filter]="state.filter"
          [filterable]="true"
          [scrollable]="'none'"
        
          (dataStateChange)="dataStateChange($event)"
          [groupable]="true"
          [group]="state.group"
          (groupChange)="groupChange($event)"
        >
        <kendo-grid-column field="recordCount" title="Record Count" [filterable]="false"> width="30"></kendo-grid-column>
        <kendo-grid-column field="total" title="Total" [filterable]="false"> width="30"></kendo-grid-column>
        <kendo-grid-column field="percentage" title="Percentage" [filterable]="false"> [width]="3"></kendo-grid-column>
        <kendo-grid-column field="businessId" title="Business ID" width="600"></kendo-grid-column>
        <kendo-grid-column field="message" title="Message" width="600"></kendo-grid-column>
        <kendo-grid-column field="category" title="Category" width="500"></kendo-grid-column>
        <kendo-grid-column field="subCategory" title="SubCategory" width="500"></kendo-grid-column>
        <div *kendoGridDetailTemplate="let dataItem">
            <app-review-details [item]="dataItem"></app-review-details>
        </div>
      </kendo-grid>

    </div>
<pre>
  {{ view | async | json}}
</pre>