<div class="card w-75">
  <div class="card-header">
    Add New Model
  </div>
  <div class="card-body">
    <h5 class="card-title">Adding a New Model</h5>
    <form [formGroup]="formGroup" (ngSubmit)="onAddModel(formGroup.value)">
      <div class="form-group">
        <label>Account ID
            <span class="badge badge-danger" *ngIf="formGroup.get('accountId').hasError('required')">Required</span>
        </label>
        <input type="number" class="form-control" formControlName="accountId" required />
      </div>
      <div class="form-group">
        <label>Typename
            <span class="badge badge-danger" *ngIf="formGroup.get('typename').hasError('required')">Required</span>
            <span class="badge badge-danger" *ngIf="formGroup.get('typename').hasError('typeNotFound')">Type Not Found</span>
            <span class="badge badge-info" *ngIf="formGroup.get('typename').pending">Compiling...</span>    
            <span class="badge badge-success" *ngIf="formGroup.get('typename').valid">Success!</span>
          </label>
        <input #typename type="text" class="form-control" formControlName="typename" required />
      </div>
      <div class="form-group">
        <label>CSharp Source
          <span (click)="toggleRules()" class="badge badge-danger" *ngIf="formGroup.get('source').hasError('compile')">{{ errors?.length }} Errors</span>
          <span class="badge badge-info" *ngIf="formGroup.get('source').pending">Compiling...</span>
          <span class="badge badge-success" *ngIf="formGroup.get('source').valid">Success!</span>
        </label>
        <table [hidden]="hideRules" class="table table-sm" *ngIf="formGroup.get('source').hasError('compile')">
          <thead>
            <tr>
              <th>Code</th>
              <th>Message</th>
              <th>Location</th>
              <th>Severity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let error of errors">
              <td>{{error.code }}</td>
              <td>{{error.message }}</td>
              <td>@{{error.location.start }}:{{error.location.end }} {{error.location.fragment}}</td>
              <td>{{error.severity }}</td>
            </tr>

          </tbody>
        </table>

        <textarea #source rows="10" class="form-control" formControlName="source"></textarea>

      </div>
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-primary btn-sm" routerLink="../">Back</button>
      </div>
      <div class="btn-group">
        <button type="submit" [disabled]="formGroup.get('source').pending || formGroup.invalid" class="btn btn-primary btn-sm">Add</button>
      </div>
    </form>
  </div>
</div>